body {
  background-color: #121212; /* Dark background like Spotify */
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #1DB954; /* Spotify green for headings */
  text-align: center;
}

/* Audio Player Styling */
.rhap_container {
  background-color: #282828;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rhap_progress-filled {
  background-color: #1DB954;
}

/* Song Card Styling */
.song-card {
  background: #282828;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  transition: all 0.3s ease;
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.song-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
  background: #404040;
}

.song-card h3 {
  font-size: 16px;
  margin: 10px 0 5px;
  color: #ffffff;
}

.song-card p {
  font-size: 14px;
  color: #b3b3b3;
}

.song-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Playlist Styling */
.playlist {
  background: #282828;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.playlist ul {
  list-style-type: none;
  padding: 0;
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto;
}

.playlist li {
  padding: 10px;
  border-bottom: 1px solid #404040;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
}

.playlist li:hover {
  background-color: #404040;
}

.playlist li img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 10px;
}

.playlist li h4 {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.playlist li p {
  margin: 0;
  font-size: 14px;
  color: #b3b3b3;
}

/* Highlight current playing song */
.playlist li.active {
  background-color: #1DB954;
}

button {
  background-color: #1DB954;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1ed760;
}